.container {
    display: flex;
    width: 47%;
    height: 300px;
    border: 2px solid;
    padding: 5px;
   justify-content: center;
   align-items: center;
}

.container .item {
    flex-basis: 100px;
    height: 96px;
    border: 2px solid;
    color: white;
    background-color: cadetblue;
}
